$primary_color: #800000;
$light_text_color: #FFFFFF;
$navbar_size: 80px;
$footer_size: 80px;
$footer_top_margin: 20px;

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $navbar_size;
    margin-bottom: $footer_size + $footer_top_margin;
    background-image: url("/assets/images/ricepaper2.png");
}

div.footer {
    margin-top: $footer_top_margin;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer_size;
    line-height: $footer_size;
    color: $light_text_color;
    background-color: $primary_color;
    text-align: center;

    $padding: 30px;

    address {
        float: left;
        padding-left: $padding;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div.copy {
        float: right;
        padding-right: $padding;
    }
}

img.nav-logo {
    padding-top: 8px;
    height: $navbar_size - 10;
    width: auto;
}
