<header>
<h1 id="title">Qual Chiropractic</h1>
<p>{{#link-to "index" class="btn btn-default" role="button"}}Home{{/link-to}}</p>
<p>{{#link-to "services" class="btn btn-default"}}Services{{/link-to}}</p>
<p>{{#link-to "staff" class="btn btn-default"}}Staff{{/link-to}}</p>
</header>

<div>
{{outlet}}
</div>

<footer>
&copy; 2015 Qual Chiropractic
</footer>
